@model IEnumerable<DigitalentCoreApp.Models.ConsultProjectViewModels.AssignmentGroup>

@{
    ViewData["Title"] = "Consultant Statistics";
}

<h2>Consultant Statistics current assignments</h2>

<table class="table">
    <tr>
        <th>
            Project name 
        </th>
        <th>
            Consultants
        </th>
        <th>
           Project Start date
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Project.Name
            </td>
            <td>
                @item.ConsultantCount
            </td>
            <td>
                @item.Project.StartDate
            </td>
        </tr>
    }
</table>