@{
    ViewData["Title"] = "Home Page";
}

<section class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Welcome to Digitalent </h2>
                <p>
                    Digitalent is a test application that
                    demonstrates some of my skills, you can handle consultants in this application.
                </p>
            </div>
        </div>
    </div>
</section>